@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #353535;
  --foreground: #ededed;
  /* --card: #262626; */
  /* --shadow: #272626; */
  --card: #26262663;
  --shadow: #3b3b3bb3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --card: #f3f3f3;
    --shadow: #cccccc91;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Helvetica, sans-serif;
  /* font-family: Jost, Helvetica, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

.body-overlay{
  background: #494949c9;
  backdrop-filter: blur(25px);
  transition: .3s;
}

.smoothie {
  transition: all .3s ease;
}